$main-color: #3a5f56;
$main-color-2: #292c32;

* {
	margin: 0;
	padding: 0;
}
li{
   list-style: none;
}
a{
	text-decoration: none;
}
.container {
	margin: 0 auto;
	max-width: 1170px;
}
.btn{
	color: aliceblue;
	background-color: $main-color;
	border-radius: 6px;
	padding: 10px 18px;
}
.header {
	&-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
	&-box {
		display: flex;
      	align-items: center;
	} 
	&-menu {
		display: flex;
	}
	&-link{
		color: $main-color;
		font-size: 16px;
		&:hover{
			color: pink;
		}
	}
	&-items{
		margin-right: 30px;
	}
	&-cart{
		display: flex;
		gap: 8px;
		&::before{
			content:" ";
			background: url("../img/bin.svg");
			display: block;
			width: 17px;
			height: 17px;
		}
		&::after{
			content: "0";
			color: $main-color-2;
			background-color: #fff;
			padding: 0 6px 	;
			border-radius: 50%;
		}
	}
}

.main{
	
	padding: 100px 0;
	&-wrapper{
		background: url("../img/BG.png") no-repeat center center / cover;
		display: flex;
		gap: 64px;
	}
	&-block{
		color: $main-color-2;
		font-size: 48px;
		margin-bottom: 11px;
	}
	&-txt{
		font-size: 16px;
		color: $main-color-2;
		margin-bottom: 17px; 
		line-height: 22.5px;	
	}

}
.logo-s2{
	padding-top: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}
.container{
	background: url(../img/Rectangle.svg) no-repeat center center/cover;
}
.txt_s2{
	text-align: center;

}
.hl{
	font-size: 36px;
}
.sub-hl{
	padding-top: 11px;
	line-height: 22.5px;
	font-size: 16px;
}
.card{
	width:379px ;
	height:304px ;
	background-color: #F4F3F0;
	border-radius: 16px;
}