* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.btn {
  color: aliceblue;
  background-color: #3a5f56;
  border-radius: 6px;
  padding: 10px 18px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
}
.header-link {
  color: #3a5f56;
  font-size: 16px;
}
.header-link:hover {
  color: pink;
}
.header-items {
  margin-right: 30px;
}
.header-cart {
  display: flex;
  gap: 8px;
}
.header-cart::before {
  content: " ";
  background: url("../img/bin.svg");
  display: block;
  width: 17px;
  height: 17px;
}
.header-cart::after {
  content: "0";
  color: #292c32;
  background-color: #fff;
  padding: 0 6px;
  border-radius: 50%;
}

.main {
  padding: 100px 0;
}
.main-wrapper {
  background: url("../img/BG.png") no-repeat center center/cover;
  display: flex;
  gap: 64px;
}
.main-block {
  color: #292c32;
  font-size: 48px;
  margin-bottom: 11px;
}
.main-txt {
  font-size: 16px;
  color: #292c32;
  margin-bottom: 17px;
  line-height: 22.5px;
}

.logo-s2 {
  padding-top: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.container {
  background: url(../img/Rectangle.svg) no-repeat center center/cover;
}

.txt_s2 {
  text-align: center;
}

.hl {
  font-size: 36px;
}

.sub-hl {
  padding-top: 11px;
  line-height: 22.5px;
  font-size: 16px;
}

.card {
  background-color: #bba67a;
  border-radius: 16px;
}

.img-services {
  height: 48px;
  width: 48px;
  margin-left: 30px;
  margin-top: 30px;
}

.title {
  font-size: 24px;
  padding-left: 30px;
  padding-right: 94px;
}

.sub-title {
  font-size: 16px;
  padding-top: 6px;
  padding-left: 30px;
}

.card-services {
  display: flex;
  justify-content: space-between center;
  width: 379px;
  height: 304px;
  gap: 6px;
}